<!doctype html>
<html>
  <head>
    <title>Buster's Best Bowling Alley</title>
    <meta charset="utf-8">
  </head>
  <body>
  <% if 1 == 2 %>
    <p>1 equals 2.</p>
  <% else %>
    <p>1 does not equal 2.</p>
  <% end %>
  </body>
</html>
