<!doctype html>
<html>
  <head>
    <title>Buster's Best Bowling Alley</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1><%= "I love " + "Ruby!!" %></h1>
    <h2>Bet You Can't Bowl A Strike Every Time</h2>
    <p>97 Bowling Alley Lane, Boulder CO </p>
  </body>
</html>
